<div class="sidebar">
   <div class="area target">
      <h3>
         Galatasaray
      </h3>
      <img src="/img/user/user-2.png" alt="user">

      <div class="categories">
         <span>Kuruluş</span>
         <span>1905</span>
         <span>Kurucu</span>
         <span>Ali Sami Yen</span>
      </div>
   </div>



   <div class="area target">
      <h3>
         Admin Alanı
      </h3>
      <div class="list">
         <a href="/admin/add">Post Ekle</a>
         
      </div>
   </div>
</div>