.topbar{
   width: 100%;
   height: 50px;
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Josefin Sans', sans-serif;
}
.topbar .wrapper{
   width: 100%;
   max-width: 1366px;
   height: 100%;
   display: flex;
   flex-wrap: wrap;
}
.topbar .left, .topbar .right{
   flex: 3;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}
.topbar .left i {
   font-size: 1.3rem;
   cursor: pointer;
}
.topbar .center{
   flex:6;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}
.topbar .right .user{
   width: 40px;
   height: 40px;
   border-radius: 50%;
   cursor: pointer;
}
.topbar .right .user img{
   width: 40px;
   height: 40px;
   border-radius: 50%;
}

/* Scroll animation area */
.topbar .wrapper{
   transition: all 0.5s;
   opacity: 0;
   transform: translateY(-10px);
}
.topbar .wrapper.active{
   opacity: 1;
   transform: translateY(0px);
}

.topbar .left i {
   opacity: 0;
   transform: translateX(-15px);
   transition: all 0.3s;
}
.topbar .wrapper.active .left i {
   opacity: 1;
   transform: translateX(0px);
}
.topbar .wrapper.active .left i:nth-child(2) {
   transition-duration: 0.6s;
}
.topbar .wrapper.active .left i:nth-child(3) {
   transition-duration: 0.9s;
}
.topbar .wrapper.active .left i:nth-child(4) {
   transition-duration: 1.2s;
}


.topbar .center, .topbar .right{
   transition: all 0.5s;
   opacity: 0;
   transform: translateX(-10px) translateY(-5px);
}
.topbar .wrapper.active .center, .topbar .wrapper.active .right{
   opacity: 1;
   transform: translateX(0px) translateY(0px);
}