{{>header}}



<div class="about">
   <div class="wrapper target">
      <div class="text">
         <h3>
            Galatasarayın Kuruluşu
         </h3>
         <p>
           1 Ekim 1905'te, Mekteb-i Sultani'de Mehmet Ata Bey'in dersi sırasında arkadaşlarıyla konuşan Ali Sami Yen, bir futbol kulübü kurmaya karar verir. Asım Sonumut, Reşat Şirvani, Refik Cevdet Kalpakçıoğlu, Abidin Daver ve Kamil Ulus Bey'in de ortaklığıyla; Refik Cevdet Kalpakçıoğlu asbaşkanlığında Galatasaray Spor Kulübü kurulur.

Bu dönemde oyunculardan her hafta birer kuruş toplanır, başkan Ali Sami Yen de futbol topuyla ilgilenirdi. Hatta domuz yağı ile temizlenen futbol topu hasar görünce; Ali Sami Yen ayakkabısının bir parçasını keserek yama yapmıştır. Cevdet Kalpakçıoğlu da formaları yıkardı. Kulübün ilk isminin Gloria ya da Audace koyulması istenmiştir; ancak takımın oynadığı ilk maçında Rum rakibini 2-0 yenerken seyircilerin onlardan "Galata Sarayı Efendileri" diye söz etmesiyle bugünkü isim doğmuştur. Ali Sami Yen tarafından söylenen bir söz; Galatasaray Spor Kulübü'nün kuruluş ve varoluş amacını belirleyecektir:

"	Maksadımız İngilizler gibi toplu bir hâlde oynamak, bir renge ve bir isme mâlik olmak ve Türk olmayan takımları yenmek."
         </p>
      </div>
      <div class="picture">
         <img src="/img/team/team-1.jpg" alt="team">
      </div>
   </div>


      <div class="wrapper target">
      <div class="text">
         <h3>
            Başarılar
         </h3>
         <p>
            Avrupa'da birçok başarıya imza atan Galatasaray, 2000 yılında UEFA Kupası'nı kazanarak bu alanda bir ilki gerçekleştirmiştir. Aynı yıl UEFA Süper Kupa'yı da müzesine götüren sarı-kırmızılı ekip, Türkiye'nin en başarılı futbol kulüplerinden biri olarak kabul edilmektedir. Süper Lig'de kazandığı şampiyonluklar ve Türkiye Kupası zaferleriyle de adını tarihe altın harflerle yazdırmıştır.
            25 kez Süper Lig şampiyonu olan Galatasaray, 18 kez Türkiye Kupası'nı kazanmıştır. Ayrıca, 16 kez Türkiye Süper Kupa'yı müzesine götürmüştür. Bu başarılar, kulübün hem ulusal hem de uluslararası arenada ne kadar güçlü bir takım olduğunu göstermektedir.
         </p>
      </div>
      <div class="picture">
         <img src="/img/team/team-2.jpg" alt="team">
      </div>
   </div>


      <div class="wrapper target">
      <div class="text">
         <h3>
            Galatasaray Efsaneleri
         </h3>
         <p>
            Metin oktaydan Mauro İcardiye birçok galatasaray efsanesi bulunmaktadır. Metin Oktay, Galatasaray'ın en büyük golcülerinden biri olarak kabul edilir ve "Taçsız Kral" lakabıyla anılır. Hagi, Gheorghe Popescu, Taffarel, Bülent Korkmaz,  gibi isimler de kulübün tarihine damga vurmuş efsanelerdendir. Bu oyuncular, hem saha içindeki performansları hem de kulübe olan bağlılıklarıyla Galatasaray taraftarlarının gönlünde özel bir yere sahiptir.
            Fatih Terim en fazla şampiyonluk kazanan teknik direktör olarak Galatasaray tarihine geçmiştir. Terim, kulübe kazandırdığı başarılarla ve uzun süreli görevleriyle Galatasaray'ın efsaneleri arasında yer almaktadır.
            Mauro İcardi ise son dönemde Galatasaray'ın önemli golcülerinden biri olarak dikkat çekmektedir. İcardi, attığı gollerle takımın başarısına büyük katkı sağlamış ve taraftarların sevgisini kazanmıştır.
            Efsaneler hızla değişse de Galatasaray'ın tarihindeki bu önemli isimler, kulübün zengin mirasının bir parçası olarak kalmaya devam edecektir.
         </p>
      </div>
      <div class="picture">
         <img src="/img/team/team-3.jpg" alt="team">
      </div>
   </div>

   
</div>